---
interface Props {
    date: Date;
    class?: string;
    usage?: "page";
}
const { date: d, class: className, usage } = Astro.props;

const [date, month, year] = [
    d.getDate(),
    d.toLocaleString("en", { month: "short" }),
    d.getFullYear(),
];
---

<style lang="scss">
    @import "../styles/imports.scss";

    time {
        font-size: 1rem;
        font-weight: 300;
        align-self: flex-start;
        display: inline-grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        border: 1px solid var(--linkColorMain);
        border-radius: 5px;
        @media (min-width: $mobile) {
            grid-template-columns: 1.5rem 3rem;
        }

        &:not(.page) {
            @media (min-width: $desktop) {
                grid-template-columns: repeat(3, auto);
            }
        }
    }

    .month {
        text-align: center;
        padding: 0.25rem 0.5rem;
        display: block;
        grid-row: 2;
        background-color: var(--linkColorMain);
        color: white;

        @media (min-width: $mobile) {
            grid-row: 1;
            grid-column: 2;
            background-color: initial;
            color: var(--text);
        }

        &:not(.page) {
            @media (min-width: $desktop) {
                background-color: var(--linkColorMain);
                color: white;
                grid-row: 1;
                grid-column: 2;
                padding: 0.25rem;
                margin: 0 0.25rem;
                align-self: stretch;
            }
        }
    }

    .day {
        display: flex;
        grid-row: 3;
        padding: 0.25rem;
        text-align: center;
        justify-self: stretch;
        justify-content: center;
        align-items: center;

        @media (min-width: $mobile) {
            background-color: var(--linkColorMain);
            color: white;
            grid-column: 2;
            grid-row: 2;
            padding: 0.25rem 0;
        }

        &:not(.page) {
            @media (min-width: $desktop) {
                background-color: var(--background);
                color: var(--text);
                grid-column: 3;
                grid-row: 1;
                margin: 0 0.5rem;
            }
        }
    }

    .year {
        display: block;
        grid-row: 1;
        padding: 0.25rem;
        align-self: center;
        justify-self: center;

        @media (min-width: $mobile) {
            writing-mode: vertical-lr;
            grid-column: 1;
            grid-row: 1 / span 2;
        }

        &:not(.page) {
            @media (min-width: $desktop) {
                writing-mode: inherit;
                grid-column: 1;
                grid-row: 1;
                margin: 0 0.25rem;
            }
        }
    }
</style>

<time class={`${className} ${usage ? "page" : ""}`} datetime={date.toString()}>
    <span class={`month ${usage ? "page" : ""}`}>{month}</span>
    <span class={`day   ${usage ? "page" : ""}`}>{date}</span>
    <span class={`year  ${usage ? "page" : ""}`}>{year}</span>
</time>
