---
interface Props {
    date: string;
    class?: string;
}
const { date: dateStr, class: className } = Astro.props;
const d = new Date(dateStr);
const [date, month, year] = [
    d.getDate(),
    d.toLocaleString("en", { month: "short" }),
    d.getFullYear(),
];
---

<style lang="scss">
    @import "../styles/imports.scss";
    time {
        align-self: flex-start;
        display: inline-grid;
        grid-template-columns: 0 auto;
        grid-template-rows: auto auto;
        border: 1px solid var(--linkColorMain);
        border-radius: 5px;
        @media (min-width: $mobile) {
            grid-template-columns: 1.5rem 3rem;
        }
    }

    .month {
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
        padding: 0.25rem 0.5rem;
        display: block;
        grid-column: 2;
        grid-row: 1;
    }

    .day {
        display: flex;
        grid-column: 2;
        grid-row: 2;
        background-color: var(--linkColorMain);
        color: white;
        padding: 0.25rem 0;
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        justify-self: stretch;
        justify-content: center;
        align-items: center;
    }

    .year {
        display: block;
        visibility: hidden;
        writing-mode: vertical-lr;
        grid-column: 1;
        grid-row: 1 / span 2;
        padding: 0.25rem;
        line-height: 1rem;
        @media (min-width: $mobile) {
            visibility: visible;
        }
    }
</style>

<time class={className} datetime={dateStr}>
    <span class="month">{month}</span>
    <span class="day">{date}</span>
    <span class="year">{year}</span>
</time>
